* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-pc: #fff;
  --color-bg: #f4d04eff;
  --Gray-500: #6b6b6bff;
  --Gray-950: #121212ff;

  --box-shadow-default: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "outfit", sans-serif;
  min-height: 100vh;

  background-color: var(--color-bg);

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

main {
  width: 100%;
  max-width: 37.5rem;

  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-pc);

  max-width: 32.7rem;
  width: 100%;
  height: auto;
  padding: 2.4rem;
  border-radius: 2rem;

  box-shadow: 8px 8px 0px 0px var(--Gray-950);
  border: 1px solid var(--Gray-950);

  position: relative;
}

figure {
  max-width: 100%;
  height: 20rem;
  margin-block-end: 2.4rem;
}

.blog-image {
  max-width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
  object-fit: cover;
}

.content {
  margin-block-end: 2.4rem;
}

.category {
  text-decoration: none;
  background-color: var(--color-bg);

  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;

  font-size: 1.45rem;
  font-weight: 900;
  color: var(--Gray-950);

  display: inline-block;

  margin-block-end: 1.2rem;
}

.date {
  color: var(--Gray-500);
  font-size: 1.4rem;
  margin-block-end: 1.2rem;
}

.title {
  color: var(--Gray-950);
  font-size: 2rem;
  padding: 0.25rem 1.6rem 0.25rem 0;

  margin-block-end: 1.2rem;
}

.title a {
  color: var(--Gray-950);
  text-decoration: none;
  transition: color 0.5s ease;
}

.title a:hover {
  color: var(--color-bg);
}

.description {
  color: var(--Gray-500);
  font-size: 1.4rem;

  padding: 0.4rem 0;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}

.autherpic {
  width: 3.2rem;
  align-self: center;
  margin-bottom: 0;
}

.author-name {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--Gray-950);
}

@media (min-width: 768px) {
  main {
    max-width: none;
  }

  .card {
    max-width: 38.4rem;
  }

  .description {
    font-size: 1.6rem;
  }
}
